:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block; /* kills Vite's flex-centering */
  place-items: unset; /* extra safety */
  background: rgba(2, 6, 23, 1);
}

#root {
  max-width: none; /* kills Vite's width constraint */
  margin: 0;
  padding: 0; /* kills Vite's default padding */
  text-align: left;
}
